* {
    margin: 0;
    padding: 0;
    
}
body{
    width: 100%;
}

.main {
    width:100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: #1d39da;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .listt {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

 .listt a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

 .listt a:hover {
    color: #1d39da;
}

.search {
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch {
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #1d39da;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn {
    width: 100px;
    height: 40px;
    background: #1d39da;
    border: 2px solid #1d39da;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

.btn:hover {
    color: #000;
}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1 {
    font-family: Arial;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn {
    width: 160px;
    height: 40px;
    background: #1d39da;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;

}

.content .cn a {
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover {
    background-color: #fff;
}

.content span {
    color: #1d39da;
    font-size: 65px
}

.form {
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    transform: translate(0%, -5%);
    border-radius: 10px;
    padding: 25px;
}

.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #000;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #1d39da;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus {
    outline: none;
}

::placeholder {
    color: #fff;
    font-family: Arial;
}

.btnn {
    width: 240px;
    height: 40px;
    background: #1d39da;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover {
    background: #fff;
    color: #000;
}

.btnn a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a {
    text-decoration: none;
    color: yellow;
}

.liw {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icons a {
    text-decoration: none;
    color: #fff;
}

.icons ion-icon {
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}

.icons ion-icon:hover {
    color: #ff7200;
}

/* styling the first suv div */
.header {
    max-width:0px;
    margin: 0px ;
    /* border: 1px solid lightseagreen; */
}

.suv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    /* border: 2px solid black; */
    margin: 20px;
    position: relative;
    width: 50%;
    /* justify-content: space-between; */
}

.safari {
    align-items: center;
    justify-content: center;
    opacity: 1;
    display: block;
    
    width: 100%;
    height: auto;
    transition: .5s ease;
    position: relative;
    backface-visibility: hidden;
}


.image {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container1:hover .image {
    opacity: 0.6;
  }
  
  .container1:hover .middle {
    opacity: 10;
  }
  
  .text {
    background-color: #310e6b;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 32px;
    border-radius: 9px;
  }
  .button {
    border-radius: 9px;
    background-color: #000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 12px;
    width: 259px;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 250px;
    margin-left: 210px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .header h1{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 50px;
}
.Harrier{
    align-items: center;
    justify-content: center;
    opacity: 1;
    display: block;
    
    width: 100%;
    height: auto;
    transition: .5s ease;
    position: relative;
    backface-visibility: hidden;
} 
.Harrier p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    background: gold;
    padding: 10px;
    margin-right: 60px;
}
.Harrier h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-right: 60px;
}
.safari p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    background: rgb(64, 54, 54);
    padding: 10px;
}
.safari h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.grid-container {
    display: grid;
    gap: 20px;
    background-color: #000;
    padding: 50px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    border-radius: 20px;
  }
  
  .item2 {
    grid-column:3 ;
    grid-row: 1 / span 3;
    background: #000;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .mid {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .item2:hover .nexonimage {
    opacity: 0.3;
  }
  
  .item2:hover .mid {
    opacity: 1;
  }
  .text2 {
    background-color: #310e6b;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 32px;
    border-radius: 9px;
  }
  .item3 {
    grid-column: 1 / span 2;
    grid-row: 2;
    border-radius: 20px;
    margin-top: 30px;
  }
  .item4 {
    grid-column: 1 / span 2;
    grid-row: 3;
    border-radius: 20px;
    margin-top: 30px;
  }
 .nearby input[type=text] {
    width: 300px;
    height: 25px;
    border-radius: 25px;
    border: none;
}

.nearby {
    float: right;
    margin: 7px;
}

.nearby button {
    background-color: #0074D9;
    color: #f2f2f2;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
  
  
  .testdrive{
    font-size: 20px;
    font-weight: bold;
    background: lightskyblue;
    border-radius: 7px;
    padding: 9px;
    margin-top: 20px;
  }
  .testdrive {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .testdrive:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .testdrive:hover  {
    padding-right: 25px
  }
  
  .testdrive:hover :after {
    opacity: 1;
    right: 0;
  } 

  .ev{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
footer{
    background: #343434;
    padding-top: 50px;
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0px;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 2px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #fff;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #f18930;
}
.social-icons i:hover{
    color: #f18930;
}
.bottom-bar{
    background:#FFFFFF;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}